RewriteEngine On

# If the requested file doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite URL without extension to the .html file
RewriteRule ^([^/]+)/?$ $1.html [L]
